# MySQLサーバーの設定
# [文字コードについての参考] https://qiita.com/4649rixxxz/items/b9aa7fe0785c768a61a9

[mysqld]
# 文字コード/照合順序の設定
character-set-server = utf8mb4
collation-server = utf8mb4_0900_bin

# タイムゾーンの設定をPCと同じにする
default-time-zone = SYSTEM
log_timestamps = SYSTEM

[mysql]
# 文字コードの設定
default-character-set = utf8mb4

[client]
# 文字コードの設定
default-character-set = utf8mb4
